@charset "utf-8"

/*
  Palette
  Light blue: #246F7D;
  Yellow-green: #999A1B;
  Green: #55A31A;
  Brown: #703B35;
  Pink: #B1429C;
  White: #F2F6EF;
*/

html {

}

body {
  margin: 0 auto;
  padding: 0;
  background-color: #246F7D;
  color: #F2F6EF;
  font-family: 'Oswald', sans-serif;
  min-height: 100vh;
}

fieldset {
  border: 2px solid #F2F6EF;
  margin-bottom: 15px;
}

footer {
  text-align: center;
}

h4 {
  margin: 0 auto;
  padding: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 1.5em;
}

header {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

legend {
  padding-left: 5px;
  padding-right: 5px;
}

section {
  margin: 0 auto;
  padding: 0;
  width: 400px;
}

section > fieldset > div {
  padding-left: 10px;
  padding-right: 10px;
}

#exercise_01 {
  text-align: center;
}

#exercise_02 {
}
